# Compiled output
target/
build/
*.class

# Maven
!.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# Java
*.log
hs_err_pid*
replay_pid*
*.jar
!maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/
.apt_generated/
.factorypath

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# Linux
*~
